In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/bikeshare.csv')

In [3]:
data.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

In [4]:
data.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [5]:
datetime = pd.DatetimeIndex(data['datetime'])

In [6]:
data.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [7]:
data.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

In [8]:
data['year'] = datetime.year

In [9]:
data['month'] = datetime.month
data['hour'] = datetime.hour

In [10]:
data.drop('datetime', axis=1, inplace=True)

In [11]:

data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,4
5,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,5
6,1,0,0,1,9.02,13.635,80,0.0000,2,0,2,2011,1,6
7,1,0,0,1,8.20,12.880,86,0.0000,1,2,3,2011,1,7
8,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,2011,1,8
9,1,0,0,1,13.12,17.425,76,0.0000,8,6,14,2011,1,9

In [12]:
data.rename(columns={'count':'total'}, inplace=True)

In [13]:
data.head(1)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,total,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,0

In [14]:
data.drop(['casual','registered'], axis = 1, inplace = True)

In [15]:

data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,hour
0,1,0,0,1,9.84,14.395,81,0.0000,16,2011,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,32,2011,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,13,2011,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,1,2011,1,4
5,1,0,0,2,9.84,12.880,75,6.0032,1,2011,1,5
6,1,0,0,1,9.02,13.635,80,0.0000,2,2011,1,6
7,1,0,0,1,8.20,12.880,86,0.0000,3,2011,1,7
8,1,0,0,1,9.84,14.395,75,0.0000,8,2011,1,8
9,1,0,0,1,13.12,17.425,76,0.0000,14,2011,1,9

In [16]:
data['daytime'] = ((data['hour']>6)&(data['hour']<21)).astype(int)

In [17]:
data.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,hour,daytime
0,1,0,0,1,9.84,14.395,81,0.0000,16,2011,1,0,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1,0
2,1,0,0,1,9.02,13.635,80,0.0000,32,2011,1,2,0
3,1,0,0,1,9.84,14.395,75,0.0000,13,2011,1,3,0
4,1,0,0,1,9.84,14.395,75,0.0000,1,2011,1,4,0
5,1,0,0,2,9.84,12.880,75,6.0032,1,2011,1,5,0
6,1,0,0,1,9.02,13.635,80,0.0000,2,2011,1,6,0
7,1,0,0,1,8.20,12.880,86,0.0000,3,2011,1,7,1
8,1,0,0,1,9.84,14.395,75,0.0000,8,2011,1,8,1
9,1,0,0,1,13.12,17.425,76,0.0000,14,2011,1,9,1

In [18]:
season_dummies = pd.get_dummies(data.season, prefix = 'season')
season_dummies

       season_1  season_2  season_3  season_4
0             1         0         0         0
1             1         0         0         0
2             1         0         0         0
3             1         0         0         0
4             1         0         0         0
5             1         0         0         0
6             1         0         0         0
7             1         0         0         0
8             1         0         0         0
9             1         0         0         0
10            1         0         0         0
11            1         0         0         0
12            1         0         0         0
13            1         0         0         0
14            1         0         0         0
15            1         0         0         0
16            1         0         0         0
17            1         0         0         0
18            1         0         0         0
19            1         0         0         0
20            1         0         0         0
21            1         0         0         0
22            1         0         0         0
23            1         0         0         0
24            1         0         0         0
25            1         0         0         0
26            1         0         0         0
27            1         0         0         0
28            1         0         0         0
29            1         0         0         0
...         ...       ...       ...       ...
10856         0         0         0         1
10857         0         0         0         1
10858         0         0         0         1
10859         0         0         0         1
10860         0         0         0         1
10861         0         0         0         1
10862         0         0         0         1
10863         0         0         0         1
10864         0         0         0         1
10865         0         0         0         1
10866         0         0         0         1
10867         0         0         0         1
10868         0         0         0         1
10869         0         0         0         1
10870         0         0         0         1
10871         0         0         0         1
10872         0         0         0         1
10873         0         0         0         1
10874         0         0         0         1
10875         0         0         0         1
10876         0         0         0         1
10877         0         0         0         1
10878         0         0         0         1
10879         0         0         0         1
10880         0         0         0         1
10881         0         0         0         1
10882         0         0         0         1
10883         0         0         0         1
10884         0         0         0         1
10885         0         0         0         1

[10886 rows x 4 columns]

In [19]:
season_dummies.drop(season_dummies.columns[0], axis=1, inplace=True)
data = pd.concat([data, season_dummies], axis=1)

data.drop('season', axis=1, inplace = True)

In [20]:
data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,hour,daytime,season_2,season_3,season_4
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,2,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,3,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,4,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,5,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,6,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,7,1,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,8,1,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,9,1,0,0,0

In [21]:
hour_dummies=pd.get_dummies(data.hour, prefix='hour')
hour_dummies.drop(hour_dummies.columns[0], axis = 1, inplace = True)
data = pd.concat([data, hour_dummies], axis = 1)

data.drop('hour', axis = 1, inplace = True)

In [22]:
data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
print(data.columns)

Index(['holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity',
       'windspeed', 'total', 'year', 'month', 'daytime', 'season_2',
       'season_3', 'season_4', 'hour_1', 'hour_2', 'hour_3', 'hour_4',
       'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11',
       'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17',
       'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23'],
      dtype='object')

In [24]:

data.dtypes

holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
total           int64
year            int64
month           int64
daytime         int32
season_2        uint8
season_3        uint8
season_4        uint8
hour_1          uint8
hour_2          uint8
hour_3          uint8
hour_4          uint8
hour_5          uint8
hour_6          uint8
hour_7          uint8
hour_8          uint8
hour_9          uint8
hour_10         uint8
hour_11         uint8
hour_12         uint8
hour_13         uint8
hour_14         uint8
hour_15         uint8
hour_16         uint8
hour_17         uint8
hour_18         uint8
hour_19         uint8
hour_20         uint8
hour_21         uint8
hour_22         uint8
hour_23         uint8
dtype: object

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X = data.drop('total', axis = 1)
Y = data.total

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=5079)

In [28]:
data.to_pickle('data/processed_bikeshare.pkl')

In [29]:
data.to_csv('data/processed_bikeshare.csv', encoding='cp949')

In [30]:
loaded_data = pd.read_pickle('data/processed_bikeshare.pkl')

In [31]:
loaded_data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

In [32]:
loaded_data = pd.read_csv('data/processed_bikeshare.csv')

In [33]:
loaded_data.head(10)

,Unnamed: 0,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,0,1,9.84,14.395,81,0.0000,16,2011,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,9.02,13.635,80,0.0000,32,2011,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,1,9.84,14.395,75,0.0000,13,2011,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,1,9.84,14.395,75,0.0000,1,2011,...,0,0,0,0,0,0,0,0,0,0
5,5,0,0,2,9.84,12.880,75,6.0032,1,2011,...,0,0,0,0,0,0,0,0,0,0
6,6,0,0,1,9.02,13.635,80,0.0000,2,2011,...,0,0,0,0,0,0,0,0,0,0
7,7,0,0,1,8.20,12.880,86,0.0000,3,2011,...,0,0,0,0,0,0,0,0,0,0
8,8,0,0,1,9.84,14.395,75,0.0000,8,2011,...,0,0,0,0,0,0,0,0,0,0
9,9,0,0,1,13.12,17.425,76,0.0000,14,2011,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data.to_csv('data/processed_bikeshare.csv', index = False, encoding = 'utf8')

In [35]:
loaded_data = pd.read_csv('data/processed_bikeshare.csv')

In [36]:
loaded_data.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,total,year,month,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,16,2011,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,32,2011,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,13,2011,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,1,2011,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2,2011,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,3,2011,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,8,2011,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,14,2011,1,...,0,0,0,0,0,0,0,0,0,0

In [41]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error

In [47]:
linreg = LinearRegression()

In [48]:
linreg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [49]:
Y_train_hat = linreg.predict(X_train)
Y_test_hat = linreg.predict(X_test)

In [51]:
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = linreg.score(X_train, Y_train)
r2_test = linreg.score(X_test, Y_test)

print('train rmse:', rmse_train)
print('test rmse:', rmse_test)
print('train r2:', r2_train)
print('test r2:', r2_test)

train rmse: 100.09215251249417
test rmse: 103.62251144753381
train r2: 0.6922322160966159
test r2: 0.6785245344524775

In [56]:
ridge = Ridge(alpha=0.5, normalize=False)
ridge.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = ridge.predict(X_train)
Y_test_hat  = ridge.predict(X_test)

rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = ridge.score(X_train, Y_train)
r2_test = ridge.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  100.09226686746585
Test RMSE:  103.62234576919013
Train R^2:  0.6922315128487502
Test R^2:  0.6785255624430045

In [58]:
lasso = Lasso(alpha = 1.0, normalize = False)
lasso.fit(X_train, Y_train)

Y_train_hat = lasso.predict(X_train)
Y_test_hat = lasso.predict(X_test)

rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = lasso.score(X_train, Y_train)
r2_test = lasso.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  102.28817757475521
Test RMSE:  105.98889798429944
Train R^2:  0.678579197192644
Test R^2:  0.6636740640623562

In [60]:
from sklearn.preprocessing import PolynomialFeatures

In [62]:
poly = PolynomialFeatures(degree=2, interaction_only = False, include_bias = False)

In [63]:
X_processed = poly.fit_transform(X)

In [65]:
print('Original X: ', X.shape)
print('Processed X: ', X_processed.shape)

Original X:  (10886, 36)
Processed X:  (10886, 702)

In [66]:
X.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,daytime,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,0,1,9.84,14.395,81,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,9.02,13.635,80,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,9.02,13.635,80,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,9.84,14.395,75,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,9.84,14.395,75,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,9.84,12.880,75,6.0032,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,9.02,13.635,80,0.0000,2011,1,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,8.20,12.880,86,0.0000,2011,1,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,9.84,14.395,75,0.0000,2011,1,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,13.12,17.425,76,0.0000,2011,1,1,...,0,0,0,0,0,0,0,0,0,0

In [67]:
X_train, X_test, Y_train, Y_test = train_test_split(X_processed, Y, test_size=0.3, random_state=1234)

In [68]:
linreg = LinearRegression()
linreg.fit(X_train, Y_train)

Y_train_hat = linreg.predict(X_train)
Y_test_hat = linreg.predict(X_test)

rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = linreg.score(X_train, Y_train)
r2_test = linreg.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  51.685639425179886
Test RMSE:  53.69380806323495
Train R^2:  0.919526210873972
Test R^2:  0.9096390050017633

In [69]:
# Fit the Ridge regression model
ridge = Ridge(alpha=0.4, normalize=False)
ridge.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = ridge.predict(X_train)
Y_test_hat  = ridge.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = ridge.score(X_train, Y_train)
r2_test = ridge.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  59.521907704595655
Test RMSE:  62.06409633325751
Train R^2:  0.8932744631942011
Test R^2:  0.8792704824560885

In [70]:
# Fit the Lasso regression model
lasso = Lasso(alpha=1.0, normalize=False)
lasso.fit(X_train, Y_train)

# Calculate Y_train_hat and Y_test_hat
Y_train_hat = lasso.predict(X_train)
Y_test_hat  = lasso.predict(X_test)

# Evaluate the model
rmse_train = np.sqrt(mean_squared_error(Y_train, Y_train_hat))
rmse_test = np.sqrt(mean_squared_error(Y_test, Y_test_hat))
r2_train = lasso.score(X_train, Y_train)
r2_test = lasso.score(X_test, Y_test)
print("Train RMSE: ", rmse_train)
print("Test RMSE: ", rmse_test)
print("Train R^2: ", r2_train)
print("Test R^2: ", r2_test)

Train RMSE:  74.34251243237225
Test RMSE:  75.81661995584622
Train R^2:  0.8335096248160163
Test R^2:  0.8198387318482812

C:\Users\50008313\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [71]:
from sklearn.externals import joblib